In [3]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as matplot
import seaborn as seaborn

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)


# reading data from csv into df
df = pd.read_csv("data/raw.csv", header=1)

# normalizing data columns
df.columns = df.columns.str.strip().str.lower().str.replace(r'\s+', '_', regex=True)
df.rename(columns={'default_payment_next_month': 'default'}, inplace=True)
print(df.columns)

# exploring data
print(df.shape)

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default'],
      dtype='object')
(30000, 25)

In [4]:
print(df.head())

   id  limit_bal  sex  education  marriage  age  pay_0  pay_2  pay_3  pay_4  \
0   1      20000    2          2         1   24      2      2     -1     -1
1   2     120000    2          2         2   26     -1      2      0      0
2   3      90000    2          2         2   34      0      0      0      0
3   4      50000    2          2         1   37      0      0      0      0
4   5      50000    1          2         1   57     -1      0     -1      0

   pay_5  pay_6  bill_amt1  bill_amt2  bill_amt3  bill_amt4  bill_amt5  \
0     -2     -2       3913       3102        689          0          0
1      0      2       2682       1725       2682       3272       3455
2      0      0      29239      14027      13559      14331      14948
3      0      0      46990      48233      49291      28314      28959
4      0      0       8617       5670      35835      20940      19146

   bill_amt6  pay_amt1  pay_amt2  pay_amt3  pay_amt4  pay_amt5  pay_amt6  \
0          0         0       689         0         0         0         0
1       3261         0      1000      1000      1000         0      2000
2      15549      1518      1500      1000      1000      1000      5000
3      29547      2000      2019      1200      1100      1069      1000
4      19131      2000     36681     10000      9000       689       679

   default
0        1
1        1
2        0
3        0
4        0

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         30000 non-null  int64
 1   limit_bal  30000 non-null  int64
 2   sex        30000 non-null  int64
 3   education  30000 non-null  int64
 4   marriage   30000 non-null  int64
 5   age        30000 non-null  int64
 6   pay_0      30000 non-null  int64
 7   pay_2      30000 non-null  int64
 8   pay_3      30000 non-null  int64
 9   pay_4      30000 non-null  int64
 10  pay_5      30000 non-null  int64
 11  pay_6      30000 non-null  int64
 12  bill_amt1  30000 non-null  int64
 13  bill_amt2  30000 non-null  int64
 14  bill_amt3  30000 non-null  int64
 15  bill_amt4  30000 non-null  int64
 16  bill_amt5  30000 non-null  int64
 17  bill_amt6  30000 non-null  int64
 18  pay_amt1   30000 non-null  int64
 19  pay_amt2   30000 non-null  int64
 20  pay_amt3   30000 non-null  int64
 21  pay_amt4   30000 non-null  int64
 22  pay_amt5   30000 non-null  int64
 23  pay_amt6   30000 non-null  int64
 24  default    30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB
None